.heading{
    color: rgb(65, 111, 211);
    font-family: 'Inter', sans-serif;
}

.news_button{
    font-family: 'Anton', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Supermercado One', cursive;

}

.list-group-item{
    
    text-decoration: solid;
}