{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 urlToImage" style="background: url({{headline.urlToImage}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 headline-details">
            <h3>{{ headline.title }}</h3>

            <p class="name"> {{ headline.name}}</p>
            <p class="description"> <b> {{ headline.description }}</b> - <i>{{ headline.publishedAt}} </i> </p>


        </div>
    </div>

</div>
{% endblock %}