{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Your News Page </title>
        {% endif %}
</head>
<body>
    

    <!-- Content block -->
    {% block content %}
        <div class="container">
            <div class="news_button">
            <a href="https://edition.cnn.com/" class="btn btn-warning btn-lg">CNN</a> <a href="https://www.bbc.com/" class="btn btn-warning btn-lg">BBC</a> <a href="https://www.foxnews.com/" class="btn btn-warning btn-lg">Fox News</a> <a href="https://news.sky.com/" class="btn btn-warning btn-lg">Sky Sports</a>
            </div>
        <div class="heading">
        <!-- Popular headline -->
        <h3> Trending News Headlines</h3>
        </div>
            
            {{ macro.displayHeadlineList(popularity)}}
            
        
        </div>
       

        {% endblock%}

</body>
</html>