{% macro displayHeadlineList(headline_list) %}
    {% for headline in headline_list %}
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ headline.urlToImage }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{headline.title}}</h5>
          
        </div>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">{{ headline.author}}</li>
          <li class="list-group-item">Published on: {{ headline.publishedAt }}</li>
        </ul>
        <div class="card-body">
          <a href="{{headline.url}}">Read full story</a>
          
        </div>
      </div>
   

        

    {% endfor %}
    

{% endmacro %}